.breadcrumb {
    position: relative;
    z-index: 9;
    float: left;
    width: 100%;
    margin-bottom: 1em;
}

.link {
    color: var(--bs-primary);
    cursor: pointer !important;
} 
.link:hover {
    text-decoration: underline;
}

.not_link {
    color: #777;
    cursor: default;
}

.link, .not_link {
    max-width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}