.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
    display: flex;
    justify-items: center;
}
.container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 38 24 / 85%);
    animation: fadeIn .4s ease-in-out;
}
.window {
    position: absolute;
    bottom: 0;
    float: left;
    width: 100%;
    height: 85%;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 25px rgb(0 0 0 / 7%);
    overflow-y: auto;
}

.closeDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    clear: both;
    box-shadow: 0 2px 5px rgba(0,0,0,7%);
    margin-bottom: .5em;
}

.closeDiv h2 {
    font-size: 1.5em;
    margin: 1em;
}

.closeButton {
    display: block;
    padding: 1em;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}
.window_row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.padding {
    padding: 1em;
    box-sizing: border-box;
}

.open {
    animation: getupWindow .5s ease-in-out;
}

/* Title, text */
.title {
    position: relative;
    height: 20%;
    display: flex;
    align-items: flex-end;
    padding: 1em 0;
    margin: 0 auto;
}
.title h2 {
    color: #fff;
}

/* Keyframes */

@keyframes getupWindow {
    from {
        bottom: -100%;
    }
    to {
        bottom: 0;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        bottom: 1;
    }
}

@media (max-width: 767px) {
    .window_row {
        display: block;
    }
}