.box_form_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}
.form {
    width: 40%;
    min-width: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 15px rgb(0 0 0 / 5%);
}

.box_form_flex {
    padding-top: 1em;
}
.form {
    padding: 2.5em;
}