.list_group_item {
    position: relative;
    display: block;
    font-size: .85em;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    /* active */
    width: 90%;
    color: #495057;
    text-align: inherit;
    cursor: pointer;
}