.navbar_flex_grow {
    flex-grow: inherit !important;
}
.navbar_float_right {
    width: auto;
    float: right;
}
.bespeak {
    background-color: #fff;
    color: #222 !important;
    border-radius: 6px;
}

.my_account_top {
    float: right;
    display: block;
    padding: .15em .3em;
    color: #fff;
    background: #16a570;
    border-radius: 5px;
    opacity: 75%;
}
.my_account_top:hover {
    opacity: 1;
}