.navbar_absolute {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    /* background-color: rgba(var(--bs-primary-rgb), 25%); */
    z-index: 11;
}

.navbar_relative {
    /* position: relative; */
    width: 100%;
    background-color: #537468 !important;
    --bs-bg-opacity: 1;
}

@media (max-width: 767px) {
  .navbar_relative, 
  .navbar_absolute {
    padding: 1em;
  }
}